<div class="modal-backdrop" *ngIf="isVisible">
  <div class="modal-content">
    <button (click)="closeModal()">X</button>
    <h2>Transaction Details</h2>
    <p>Player: {{ ticket?.playerId }}</p>
    <p>Created at: {{ ticket?.createdAt }}</p>
    <h3>Bets:</h3>
    <ul *ngIf="ticket?.bets && ticket.bets.length > 0">
      <li *ngFor="let bet of ticket.bets">
        <p>Match: {{ bet.participants.join(' vs ') }}</p>
        <p>Odds: {{ bet.odds }}</p>
        <p>Market: {{ bet.market }}</p>
        <p [ngClass]="getStatusClass(bet?.status)">Status: {{ bet?.status }}</p>
        <p>Start at: {{ bet.startAt | date:'medium' }}</p>
      </li>
    </ul>
    <p>Pay in amount: {{ ticket?.payInAmount }}</p>
    <p>Pay out amount: {{ ticket?.payOutAmount }}</p>
    <p>Currency: {{ ticket?.currency }}</p>
    <h4 style="font-weight: bold"  [ngClass]="getStatusClass(ticket.status)">Status: {{ ticket.status }}</h4>

    <h3>Linked Transactions</h3>

    <div *ngIf="isLoading" class="loading-indicator">
      Loading transactions...
    </div>

    <ul *ngIf="!isLoading && transactions.length > 0">
      <li *ngFor="let transaction of transactions">
        <p>Transaction ID: {{ transaction.id }}</p>
        <p>Type: {{ transaction.type }}</p>
        <p>Provider: {{ transaction.provider }}</p>
      </li>
    </ul>

    <p *ngIf="!isLoading && transactions.length === 0">No linked transactions.</p>
  </div>
</div>

