html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.dashboard-container {
  padding: 1rem;
  font-family: Bahnschrift;
  margin-top: 70px;
}

.overview-card, .personal-welcome {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
}
