<div class="navbar">
  <a [routerLink]="['/dashboard']"><img src="assets/branding/large-logo.png" alt="Firm Logo" class="logo"></a>
  <nav>
    <ul>
      <li><a [routerLink]="['/dashboard']">{{ 'dashboard' | translate }}</a></li>
      <div *ngIf="hasGrant(Grant.CanViewTransactions)">
        <li><a [routerLink]="['/transactions']">{{ 'transactions' | translate }}</a></li>
      </div>
      <div *ngIf="hasGrant(Grant.CanViewTickets)">
        <li><a [routerLink]="['/tickets']">{{ 'tickets' | translate }}</a></li>
      </div>
      <li><a id="logout" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> {{ 'logout' | translate }}</a></li>
    </ul>
  </nav>
</div>
