<div class="modal-backdrop" *ngIf="isVisible">
  <div class="modal-content">
    <button (click)="closeModal()">X</button>
    <h2>{{'transactionDetails' | translate}}</h2>
    <p>{{'player' | translate}}: {{getPlayerName(transaction?.playerId)}}</p>
    <p>{{'externalId' | translate}}: {{transaction?.externalId}}</p>
    <p>{{'type' | translate}}: {{transaction?.type}}</p>
    <p>{{'direction' | translate}}: {{transaction?.direction}}</p>
    <p>{{'provider' | translate}}: {{transaction?.provider}}</p>
    <p>{{'amount' | translate}}: {{transaction?.amount}}</p>
    <p>{{'currency' | translate}}: {{transaction?.currency}}</p>
    <p>{{'createdAt' | translate}}: {{transaction?.createdAt}}</p>


    <h3>{{'linkedTickets' | translate}}</h3>

    <div *ngIf="isLoading" class="loading-indicator">
      {{'loading' | translate}}
    </div>

    <ul *ngIf="!isLoading && tickets.length > 0">
      <li *ngFor="let ticket of tickets">
        <p>{{'ticketId' | translate}}: {{ ticket.id }}</p>
        <p>{{'status' | translate}}: {{ ticket.status }}</p>
        <p>{{'payInAmount' | translate}}: {{ ticket.payInAmount }}</p>
        <p>{{'payOutAmount' | translate}}: {{ ticket.payOutAmount }}</p>
        <ul>
          <li *ngFor="let bet of ticket.bets">
            {{ bet.participants.join(' vs ') }}: {{ bet.status }} at: {{ bet.odds | number: '1.2-2' }} {{'odds' | translate}}
          </li>
        </ul>
      </li>
    </ul>
    <p *ngIf="!isLoading && tickets.length === 0">{{'noLinkedTickets' | translate}}</p>
  </div>
</div>
