<app-navbar></app-navbar>
<app-ticket-details-modal></app-ticket-details-modal>
<div class="filter-container">
  <form (ngSubmit)="onFilter()">
    <label>{{'player' | translate}}:</label>
    <select [(ngModel)]="filters.playerId" name="playerId">
      <option value="" >{{'allPlayers' | translate}}</option>
      <option *ngFor="let player of players" [value]="player.id">{{ player.firstName }} {{ player.lastName }}</option>
    </select>

    <label>{{'status' | translate}}: </label>
    <select [(ngModel)]="filters.status" name="status">
      <option value="" >{{'allStatuses' | translate}}</option>
      <option value="Won">Won</option>
      <option value="Lost">Lost</option>
      <option value="Created">Created</option>
    </select>

    <label>{{'startDate' | translate}}:</label>
    <input type="date" [(ngModel)]="filters.startDate" name="startDate">

    <label>{{'endDate' | translate}}:</label>
    <input type="date" [(ngModel)]="filters.endDate" name="endDate">

    <button type="submit">{{'filter' | translate}}</button>
    <button type="button" (click)="reset()">{{'reset' | translate}}</button>
  </form>
</div>
<div *ngIf="isLoading" class="loading-players">{{'loading' | translate}}</div>
<div *ngIf="!isLoading" class="centered-table-container">
  <table>
    <thead>
    <tr>
      <th>{{'player' | translate}}</th>
      <th>{{'bets' | translate}}</th>
      <th>{{'payInAmount' | translate}}</th>
      <th>{{'payOutAmount' | translate}}</th>
      <th>{{'currency' | translate}}</th>
      <th>{{'status' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ticket of tickets">
      <td>{{ getPlayerName(ticket.playerId) }}</td>
      <td>
        <ul>
          <li *ngFor="let bet of ticket.bets">
            {{ bet.participants.join(' vs ') }}: {{ bet.status }} at: {{ bet.odds | number:'1.2-2'  }} odds
          </li>
        </ul>
      </td>
      <td>{{ ticket.payInAmount }}</td>
      <td>{{ ticket.payOutAmount }}</td>
      <td>{{ ticket.currency }}</td>
      <td>
        <h4 [ngClass]="getStatusClass(ticket?.status)">{{ ticket?.status }}</h4>
      </td>
      <td class="centered-content">
        <div class="button-wrapper">
          <button (click)="openTransactionDetails(ticket)">{{'details' | translate}}</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

