<app-navbar></app-navbar>
<app-ticket-details-modal></app-ticket-details-modal>

<app-filter-modal
  [filters]="filters"
  [showModal]="isFiltersModalOpen"
  (applyFilters)="applyFilters($event)"
  (closeFilters)="closeFiltersModal()">
</app-filter-modal>

<div class="filter-container">
  <form [formGroup]="filterForm" (ngSubmit)="onFilter()">

    <div id="filters">
      <a (click)="openFiltersModal()"> {{ 'filterLabel' | translate }}</a>
    </div>

    <div *ngIf="filterForm.contains('playerId')">
      <label>{{ 'playerId' | translate }}:</label>
      <ng-select
        formControlName="playerId"
        [editableSearchTerm]="true"
        placeholder="{{'allPlayers' | translate}}"
        [clearable]="true"
      >
        <ng-option *ngFor="let player of players" [value]="player.id">
          {{ player.firstName }} {{ player.lastName }}
        </ng-option>
      </ng-select>
    </div>

    <div *ngIf="filterForm.contains('status')">
      <label>{{ 'status' | translate }}: </label>
      <ng-select
        formControlName="status"
        [editableSearchTerm]="true"
        placeholder="{{'allStatuses' | translate}}"
      >
        <ng-option value="Won">Won</ng-option>
        <ng-option value="Lost">Lost</ng-option>
        <ng-option value="Created">Created</ng-option>
      </ng-select>
    </div>

    <div *ngIf="filterForm.contains('startDate')">
      <label>{{ 'startDate' | translate }}:</label>
      <input type="date" formControlName="startDate" name="startDate">
    </div>

    <div *ngIf="filterForm.contains('endDate')">
      <label>{{ 'endDate' | translate }}:</label>
      <input type="date" formControlName="endDate" name="endDate">
    </div>

    <div class="buttons">
      <button type="submit">{{ 'filter' | translate }}</button>
      <button type="button" (click)="reset()">{{ 'reset' | translate }}</button>
    </div>

  </form>
</div>

<app-loader *ngIf="isLoading"></app-loader>


<app-table
  [items]="items"
  [tableConfiguration]="tableConfiguration"
  [getPlayerName]="getPlayerName.bind(this)"
  [isLoading]="isLoading"
  (actionClicked)="openTransactionDetails($event)"
>
</app-table>
















