.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.content-container {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.logo-container .logo {
  background-image: url('../assets/branding/large-logo.png');
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
}

.title-container .title {
  font-family: "Roboto Light";
  text-align: center;
  margin-bottom: 2rem;
  color: darkred;;
}
