<app-navbar></app-navbar>
<app-transaction-details-modal></app-transaction-details-modal>
<div class="filter-container">
  <form [formGroup]="filterForm" (ngSubmit)="onFilter()">
    <label>{{ 'externalId' | translate }}:</label>
    <input formControlName="externalId" type="text" name="externalId" placeholder="External ID">

    <label>{{ 'player' | translate }}:</label>
    <!--<select formControlName="playerId" name="playerId">
      <option value="">{{ 'allPlayers' | translate }}</option>
      <option *ngFor="let player of players" [value]="player.id">{{ player.firstName }} {{ player.lastName }}</option>
    </select>-->

    <ng-select
      formControlName="playerId"
      [editableSearchTerm]="true"
      placeholder="{{ 'allPlayers' | translate }}">
      <ng-option *ngFor="let player of players" [value]="player.id">{{ player.firstName }} {{ player.lastName }}</ng-option>
    </ng-select>

    <label>{{ 'type' | translate }}:</label>
 <!--   <select formControlName="type" name="type">
      <option value="">{{ 'allTypes' | translate }}</option>
      <option value="SportPayIn">Sport pay in</option>
      <option value="SportPayOut">Sport pay out</option>
      <option value="PaymentProviderWithdraw">Payment provider withdraw</option>
      <option value="PaymentProviderDeposit">Payment provider deposit</option>
      <option value="SportWon">Sport won</option>
      <option value="SportLost">Sport lost</option>
    </select>-->

    <ng-select
      formControlName="type"
      [editableSearchTerm]="true"
      placeholder="{{ 'allTypes' | translate }}">
      <ng-option value="SportPayIn">Sport pay in</ng-option>
      <ng-option value="SportPayOut">Sport pay out</ng-option>
      <ng-option value="PaymentProviderWithdraw">Payment provider withdraw</ng-option>
      <ng-option value="PaymentProviderDeposit">Payment provider deposit</ng-option>
      <ng-option value="SportWon">Sport won</ng-option>
      <ng-option value="SportLost">Sport lost</ng-option>
    </ng-select>

    <label>{{ 'direction' | translate }}:</label>
<!--    <select formControlName="direction" name="direction">
      <option value="">{{ 'allDirections' | translate }}</option>
      <option value="PayIn">Pay in</option>
      <option value="PayOut">Pay out</option>
      <option value="Deposit">Deposit</option>
      <option value="Withdraw">Withdraw</option>
      <option value="Won">Won</option>
      <option value="Lost">Lost</option>
    </select>-->

    <ng-select
      formControlName="direction"
      [editableSearchTerm]="true"
      [clearable]="true"
      placeholder="{{ 'allDirections' | translate }}"
    >
      <ng-option value="PayIn">Pay in</ng-option>
      <ng-option value="PayOut">Pay out</ng-option>
      <ng-option value="Deposit">Deposit</ng-option>
      <ng-option value="Withdraw">Withdraw</ng-option>
      <ng-option value="Won">Won</ng-option>
      <ng-option value="Lost">Lost</ng-option>
    </ng-select>

    <label>{{ 'provider' | translate }}:</label>
    <!--<select formControlName="provider" name="provider">
      <option value="">{{ 'allProviders' | translate }}</option>
      <option value="Sport">Sport</option>
      <option value="PaymentProvider">Payment provider</option>
    </select>-->

    <ng-select
      formControlName="provider"
      [editableSearchTerm]="true"
      placeholder="{{ 'allProviders' | translate }}">
      <ng-option value="Sport">Sport</ng-option>
      <ng-option value="PaymentProvider">Payment provider</ng-option>
    </ng-select>

    <label>{{ 'startDate' | translate }}:</label>
    <input formControlName="startDate" type="date" name="startDate">

    <label>{{ 'endDate' | translate }}:</label>
    <input formControlName="endDate" type="date" name="endDate">

    <div class="form-errors">
      <div *ngIf="filterForm.get('externalId').touched && filterForm.get('externalId').errors?.['pattern']"
           class="error-message">
        {{ 'externalIdError' | translate }}
      </div>
    </div>

    <button type="submit" [disabled]="!filterForm.valid
    || filterForm.get('externalId').errors?.['pattern']"
            [class.button-disabled]="!filterForm.valid
            || filterForm.get('externalId').errors?.['pattern']">
      {{ 'filter' | translate }}
    </button>
    <button type="button" (click)="reset()">{{ 'reset' | translate }}</button>
  </form>
</div>

<app-loader *ngIf="isLoading"></app-loader>

<div *ngIf="!isLoading" class="centered-table-container">
  <table>
    <thead>
    <tr>
      <th>{{ 'externalId' | translate }}</th>
      <th>{{ 'player' | translate }}</th>
      <th>{{ 'type' | translate }}</th>
      <th>{{ 'direction' | translate }}</th>
      <th>{{ 'provider' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.externalId }}</td>
      <td>{{ getPlayerName(transaction.playerId) }}</td>
      <td>{{ transaction.type }}</td>
      <td>{{ transaction.direction }}</td>
      <td>{{ transaction.provider }}</td>
      <td class="centered-content">
        <button (click)="openTransactionDetails(transaction)">{{ 'details' | translate }}</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
