<div class="centered-table-container" *ngIf="!isLoading" >

  <table
    mat-table
    matSort
    [dataSource]="dataSource"
    class="full-width-table"
  >

    <ng-container *ngFor="let column of tableConfiguration.properties" [matColumnDef]="column.name">

      <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column.name"> {{ column.suffix | translate }} </th>
      <td mat-cell *matCellDef="let element">

        <ng-container [ngSwitch]="column.type">
          <span *ngSwitchCase="PropertyType.Number">{{ element.data[column.suffix] | number }}</span>
          <span *ngSwitchCase="PropertyType.DateTime">{{ element.data[column.suffix] | dateFormat }}</span>
          <span *ngSwitchCase="PropertyType.Boolean">{{ element.data[column.suffix] ? '✔️' : '❌' }}</span>
          <span *ngSwitchCase="PropertyType.Text">
            <ng-container *ngIf="column.suffix === 'playerId'; else defaultText">
              {{ getPlayerName(element.data['playerId']) }}
            </ng-container>
            <ng-template #defaultText>{{ element.data[column.suffix] }}</ng-template>
          </span>
        </ng-container>

      </td>

    </ng-container>

    <ng-container *ngIf="tableConfiguration.action" matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> {{ tableConfiguration.action.name | translate }} </th>
      <td class="button-container" mat-cell *matCellDef="let element">
        <button class="button" mat-button (click)="tableConfiguration.action.action(element.data)">{{'details' | translate}}</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

<!--<div class="centered-table-container" *ngIf="!isLoading">
  <div class="table">
    <div class="table-header">
      <div class="table-cell table-cell-header" *ngFor="let column of tableConfiguration.properties">{{ column.name }}</div>
      <div class="table-cell table-cell-header" *ngIf="tableConfiguration.action">{{ tableConfiguration.action.name }}</div>
    </div>
    <div class="table-row" *ngFor="let element of dataSource.data">
      <div class="table-cell" *ngFor="let column of tableConfiguration.properties">
        <span *ngIf="column.type === PropertyType.Number">{{ element.data[columnMap[column.name]] | number }}</span>
        <span *ngIf="column.type === PropertyType.DateTime">{{ element.data[columnMap[column.name]] | date:'medium' }}</span>
        <span *ngIf="column.type === PropertyType.Boolean">{{ element.data[columnMap[column.name]] ? '✔️' : '❌' }}</span>
        <span *ngIf="column.type === PropertyType.Text && column.name === 'Player'">
          {{ getPlayerName(element.data['playerId']) }}
        </span>
        <span *ngIf="column.type === PropertyType.Text && column.name !== 'Player'">
          {{ element.data[columnMap[column.name]] }}
        </span>
      </div>
      <div class="table-cell table-cell-button" *ngIf="tableConfiguration.action">
        <button (click)="tableConfiguration.action.action(element.data)">{{'details' | translate}}</button>
      </div>
    </div>
  </div>
</div>-->


